<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.server.mapper.ProductMapper">
    <insert id="insertProduct" parameterType="com.server.model.ProductDTO">
        <![CDATA[
        INSERT INTO PRODUCT
        (
            PRODUCT_SEQ,
            PRODUCT_TITLE,
            PRODUCT_STATUS,
            PRODUCT_CONTENT,
            PRODUCT_DATE,
            PRODUCT_PRICE,
            PRODUCT_LINK,
            USER_ID,
            ONLIKE,
            ONSELF
        )
        VALUES
            (
                0,
                #{title},
                #{status},
                #{body},
                #{date},
                #{price},
                #{list},
                #{userId},
                false,
                false
            )
        ]]>
    </insert>

    <select id="getProductCount" parameterType="com.server.model.ProductDTO" resultType="Int">
        SELECT
            COUNT(*)
        FROM
            PRODUCT
    </select>

    <select id="getTransactionCount" parameterType="com.server.model.ProductDTO" resultType="Int">
        SELECT
            COUNT(*)
        FROM
            PRODUCT
        WHERE 1 = 1
        AND PRODUCT_STATUS = '거래'
    </select>

    <select id="getRentalCount" parameterType="com.server.model.ProductDTO" resultType="Int">
        SELECT
            COUNT(*)
        FROM
            PRODUCT
        WHERE 1 = 1
        AND PRODUCT_STATUS = '대여'
    </select>

    <select id="getAllProduct" parameterType="com.server.model.ProductDTO">
        SELECT
            PRODUCT_SEQ AS 'id',
            PRODUCT_TITLE AS 'title',
            PRODUCT_STATUS AS 'status',
            PRODUCT_LINK AS 'list',
            PRODUCT_PRICE AS 'price'
        FROM
            PRODUCT
        ORDER BY PRODUCT_SEQ ASC
    </select>

    <select id="getProduct" parameterType="int" resultType="com.server.model.ProductDTO">
        SELECT
            PRODUCT_SEQ AS 'id',
            PRODUCT_TITLE AS 'title',
            PRODUCT_STATUS AS 'status',
            PRODUCT_LINK AS 'list',
            PRODUCT_PRICE AS 'price'
        FROM
            PRODUCT
        ORDER BY PRODUCT_SEQ ASC
            LIMIT #{offset}, 12
    </select>

    <select id="getProductBySearch" parameterType="Map" resultType="com.server.model.ProductDTO">
        <![CDATA[
        SELECT
            PRODUCT_SEQ AS 'id',
            PRODUCT_TITLE AS 'title',
            PRODUCT_STATUS AS 'status',
            PRODUCT_LINK AS 'list',
            PRODUCT_PRICE AS 'price'
        FROM
            PRODUCT
        WHERE PRODUCT_TITLE LIKE UPPER(#{search})
        ORDER BY PRODUCT_SEQ ASC
            LIMIT #{offset}, 12
        ]]>
    </select>

    <select id="getSearchCount" parameterType="String" resultType="int">
        <![CDATA[
        SELECT
            COUNT(*)
        FROM
            PRODUCT
        WHERE PRODUCT_TITLE LIKE UPPER(#{search})
        ]]>
    </select>

    <select id="getProductById" parameterType="int" resultType="com.server.model.ProductDTO">
        SELECT
            PRODUCT_SEQ AS 'id' ,
            PRODUCT_TITLE AS 'title',
            PRODUCT_STATUS AS 'status',
            PRODUCT_CONTENT AS 'body',
            PRODUCT_DATE AS 'date',
            PRODUCT_PRICE AS 'price',
            PRODUCT_LINK AS 'list',
            USER_ID AS userId,
            ONLIKE AS onlike,
            ONSELF AS onself
        FROM
            PRODUCT
        WHERE 1 = 1
          AND PRODUCT_SEQ = #{id}
    </select>

    <select id="getUserIdByProductSeq" parameterType="int" resultType="int">
        SELECT
            USER_ID AS userId
        FROM
            PRODUCT
        WHERE 1 = 1
          AND PRODUCT_SEQ = #{id}
    </select>

    <update id="modifyProduct" parameterType="com.server.model.ProductDTO">
        <![CDATA[
        UPDATE PRODUCT
        SET
            PRODUCT_TITLE = #{title},
            PRODUCT_STATUS = #{status},
            PRODUCT_CONTENT = #{body},
            PRODUCT_DATE = #{date},
            PRODUCT_PRICE = #{price}
        WHERE 1 = 1
          AND PRODUCT_SEQ = #{id}
        ]]>
    </update>

    <update id="modifyImage" parameterType="Map">
        UPDATE PRODUCT
        SET
            PRODUCT_LINK = #{list}
        WHERE 1 = 1
          AND PRODUCT_SEQ = #{id}
    </update>

    <insert id="insertLikeStatus" parameterType="com.server.model.LikeDTO">
        INSERT INTO LIKESTATUS (USER_ID, PRODUCT_SEQ, ONLIKE)
        VALUES (#{userId}, #{productSeq}, #{onlike})
    </insert>

    <!-- 사용자가 상품을 찜한 상태 업데이트 -->
    <update id="updateLikeStatus" parameterType="Map">
        <![CDATA[
        UPDATE LIKESTATUS
        SET ONLIKE = #{onlike}
        WHERE USER_ID = #{userId} AND PRODUCT_SEQ = #{id}
        ]]>
    </update>

    <select id="isAlreadyLiked" resultType="boolean" parameterType="Map">
        SELECT COUNT(*) > 0
        FROM LIKESTATUS
        WHERE USER_ID = #{userId}
          AND PRODUCT_SEQ = #{productSeq}
    </select>

    <select id="getLikedByUser" resultType="boolean" parameterType="Map">
        SELECT ONLIKE
        FROM LIKESTATUS
        WHERE USER_ID = #{userId}
          AND PRODUCT_SEQ = #{productSeq}
    </select>

    <delete id="deleteCart" parameterType="Map">
        DELETE FROM LIKESTATUS
        WHERE 1 = 1 AND USER_ID = #{userId} AND PRODUCT_SEQ = #{productSeq}
    </delete>

    <select id="getTransaction" parameterType="int" resultType="com.server.model.ProductDTO">
        SELECT
            PRODUCT_SEQ AS 'id',
            PRODUCT_TITLE AS 'title',
            PRODUCT_STATUS AS 'status',
            PRODUCT_LINK AS 'list',
            PRODUCT_PRICE AS 'price'
        FROM
            PRODUCT
        WHERE 1 = 1
        AND PRODUCT_STATUS = '거래'
        ORDER BY PRODUCT_SEQ ASC
            LIMIT #{offset}, 12
    </select>

    <select id="getTransactionBySearch" parameterType="Map" resultType="com.server.model.ProductDTO">
        <![CDATA[
        SELECT
            PRODUCT_SEQ AS 'id',
            PRODUCT_TITLE AS 'title',
            PRODUCT_STATUS AS 'status',
            PRODUCT_LINK AS 'list',
            PRODUCT_PRICE AS 'price'
        FROM
            PRODUCT
        WHERE 1 = 1
        AND PRODUCT_TITLE LIKE UPPER(#{search}) AND PRODUCT_STATUS = '거래'
        ORDER BY PRODUCT_SEQ ASC
            LIMIT #{offset}, 12
        ]]>
    </select>

    <select id="getRental" parameterType="int" resultType="com.server.model.ProductDTO">
        SELECT
            PRODUCT_SEQ AS 'id',
            PRODUCT_TITLE AS 'title',
            PRODUCT_STATUS AS 'status',
            PRODUCT_LINK AS 'list',
            PRODUCT_PRICE AS 'price'
        FROM
            PRODUCT
        WHERE 1 = 1
          AND PRODUCT_STATUS = '대여'
        ORDER BY PRODUCT_SEQ ASC
            LIMIT #{offset}, 12
    </select>

    <select id="getRentalBySearch" parameterType="Map" resultType="com.server.model.ProductDTO">
        <![CDATA[
        SELECT
            PRODUCT_SEQ AS 'id',
            PRODUCT_TITLE AS 'title',
            PRODUCT_STATUS AS 'status',
            PRODUCT_LINK AS 'list',
            PRODUCT_PRICE AS 'price'
        FROM
            PRODUCT
        WHERE 1 = 1
          AND PRODUCT_TITLE LIKE UPPER(#{search}) AND PRODUCT_STATUS = '대여'
        ORDER BY PRODUCT_SEQ ASC
            LIMIT #{offset}, 12
        ]]>
    </select>

    <delete id="deleteProduct" parameterType="int">
        <![CDATA[
        DELETE FROM PRODUCT
        WHERE PRODUCT_SEQ = #{id}
        ]]>
    </delete>
    
    <select id="getImageUrl" parameterType="int">
        SELECT
            PRODUCT_LINK
        FROM
            PRODUCT
        WHERE 1 = 1
          AND PRODUCT_SEQ = #{id}
    </select>
</mapper>