<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.server.mapper.UserMapper">
    <select id="selectOneUser" parameterType="com.server.model.UserDTO" resultType="com.server.model.UserDTO">
        SELECT
            USER_ID AS id,
            USER_NAME AS strUserName,
            USER_EMAIL AS strEmail,
            USER_ROLE AS strRole,
            USER_PHONE AS strPhoneNumber
        FROM USER
        WHERE 1 = 1
         AND USER_EMAIL = #{strEmail}
    </select>

    <select id="selectEncPwd" parameterType="com.server.model.UserDTO" resultType="String">
        SELECT
            USER_PW AS strPassword
        FROM USER
        WHERE 1 = 1
          AND USER_EMAIL = #{strEmail}
    </select>
    
    <insert id="joinUser" parameterType="com.server.model.UserDTO">
        INSERT INTO USER
            (
             USER_ID,
             USER_NAME,
             USER_EMAIL,
             USER_PW,
             USER_ROLE,
             USER_PHONE
             )
        VALUES
            (
             0,
             #{strUserName},
             #{strEmail},
             #{strPassword},
             #{strRole},
             #{strPhoneNumber}
             )
    </insert>
</mapper>