<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.server.mapper.UserMapper">
    <select id="selectOneUser" parameterType="com.server.model.UserDTO" resultType="com.server.model.UserDTO">
        SELECT
            USER_ID AS id,
            USER_NAME AS username,
            USER_EMAIL AS email,
            USER_ROLE AS role,
            USER_PHONE AS phone_number
            USER_DATE AS 'date'
        FROM USER
        WHERE 1 = 1
          AND USER_EMAIL = #{email}
    </select>

    <select id="selectEncPwd" parameterType="com.server.model.UserDTO" resultType="String">
        SELECT
            USER_PW AS passWord
        FROM USER
        WHERE 1 = 1
          AND USER_EMAIL = #{email}
    </select>
    
    <insert id="joinUser" parameterType="com.server.model.UserDTO">
        INSERT INTO USER
            (
             USER_ID,
             USER_NAME,
             USER_EMAIL,
             USER_PW,
             USER_ROLE,
             USER_PHONE,
             USER_DATE
             )
        VALUES
            (
             0,
             #{username},
             #{email},
             #{passWord},
             #{role},
             #{phone_number},
             #{date}
             )
    </insert>

    <select id="emailCheck" parameterType="com.server.model.UserDTO" resultType="String">
        SELECT
            USER_EMAIL
        FROM USER
        WHERE 1 = 1
          AND LOWER(USER_EMAIL) = LOWER(#{email})
    </select>

    <select id="nameCheck" parameterType="com.server.model.UserDTO" resultType="String">
        SELECT
            USER_NAME AS username
        FROM USER
        WHERE 1 = 1
          AND LOWER(USER_NAME) = LOWER(#{username})
    </select>

    <select id="getMyProductCount" parameterType="com.server.model.ProductDTO" resultType="Int">
        SELECT
            COUNT(*)
        FROM
            PRODUCT
        WHERE 1 = 1
          AND USER_ID = #{id}
    </select>

    <select id="getMyProduct" parameterType="int" resultType="com.server.model.ProductDTO">
        SELECT
            PRODUCT_SEQ AS id,
            PRODUCT_TITLE AS title,
            PRODUCT_STATUS AS status,
            PRODUCT_LINK AS list,
            PRODUCT_PRICE AS price
        FROM
            PRODUCT
        WHERE 1 = 1
          AND USER_ID = #{id}
        ORDER BY PRODUCT_SEQ ASC
    </select>

    <select id="getMyLikedProducts" parameterType="Map" resultType="com.server.model.ProductDTO">
        SELECT
            PRODUCT_SEQ AS id,
            PRODUCT_TITLE AS title,
            PRODUCT_STATUS AS status,
            PRODUCT_LINK AS list,
            PRODUCT_PRICE AS price
        FROM
            PRODUCT
    </select>

</mapper>